/* This is a CSS comment */

.Normal { 
  height: 100px;
  width: 100px;
  color: black;
  font-weight: bold;
  border: solid 10px crimson;
}
  
.Important { 
  font-size: 120%;
  color: red;
}
  
#CLICKME {
  height: 100px;
  width: 100px;
  font-size: 15px;
  font-family: Ariel;
  font-style: italic;
  font-weight: bold;
  color: cyan;
  background-color: magenta;
  border: solid 10px gold;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  float: left;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main{
  float: left;
  width: 60%;
  padding: 10px 10px 10px 10px;
  background-color: grey;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}

.side{
  float: right;
  width: 25%;
  padding: 10px 10px 10px 10px;
  background-color:blue;
  text-align: center;
}

.section{
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.article{
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.footer {
  float: bottom;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
